{% load static %}
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Messages / Notifications -->
        {% if request.user.role != 'admin' %}
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="{% url user.role|add:'_notifications' %}" id="messagesDropdown"
                role="button">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter">
                    {{ notification_count|default:'0' }}
                </span>
            </a>
        </li>
        {% endif %}

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- User Info -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                    {{ request.user.username }}
                </span>
                <img class="img-profile rounded-circle" src="{% static 'assets/img/undraw_profile.svg' %}">
            </a>

            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                {% if request.user.role == 'faculty' %}
                <a class="dropdown-item" href="{% url 'faculty_profile' %}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    My Profile
                </a>
                {% elif request.user.role == 'student' %}
                <a class="dropdown-item" href="{% url 'student_profile' %}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    My Profile
                </a>
                {% endif %}

                <!-- 🔐 Change Password Link -->
                <a class="dropdown-item" href="{% url 'change_password' %}">
                    <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                    Change Password
                </a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>

        </li>

    </ul>

</nav>